@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Profesor</h1>
    <h2> Soy Alexis Albarracin </h2>
    <h3>Actualmente no trabajo en IT pero me gustaría. Los conocimientos que tengo en programación los adquirí por proyectos de la cursada y otros de manera autodidacta.

        El cuatrimestre pasado con mi equipo hicimos una aplicación Botonera de Emergencia que desarrollamos en Xamarin y que presentamos en la exposición de fin de año.

        Mis expectativas con la materia son altas, dado que me empecé a interiorizar con  la programación y la verdad me encantó. El hecho de ver los resultado y que parezca algo mágico que en un principio no tenía funcionalidad alguno y uno le "dá vida"</h3>
    <center>
		<img src="~/Images/net.png" alt="Net" height="200" width="600">
    </center>
    <br />
    <p>Me gustaría que forme parte de mi red de Linkdin --> <a href="https://www.linkedin.com/in/alexis-albarracin">espero su solicitud  ;)</a>.</p>
</div> 


